$sidebar-bg-color: #0073c7;
$sidebar-color: #ffffff;
$icon-bg-color: #808080;
$icon-size: 50px;
$submenu-bg-color: #808080;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "~react-pro-sidebar/dist/scss/styles.scss";

* {
  font-family: "Roboto";
}

html,
#root,
.container,
.row {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.pro-sidebar .pro-menu a {
  font-size: 17px;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .main {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f0f0f0;

    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
    }
  }

  .accounts-page {
    .accounts-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 100%;
      padding-top: 50px;

      .user-provider {
        background-color: white;
        padding: 10px;
        width: 250px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          height: 100px;
          width: 100px;
        }

        footer {
          padding: 100px 0 0 0;
          color: #808080;
        }
      }
    }
  }

  .accounts-view-page {
    .accounts-view-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 100%;
      padding-top: 50px;

      .account-card {
        background-color: white;
        padding: 10px;
        width: 350px;
        height: 350px;

        .ac-main {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          header {
            .acc-num {
              margin-block-start: 0 !important;
              margin-block-end: 0 !important;
            }

            .sort-code {
              margin-block-start: 0 !important;
            }
          }

          .ac-middle {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
          }

          footer {
            font-size: 12px;
            color: #808080;
            padding-top: 20px;
          }
        }
      }
    }
  }

  .add-provider-page {
    .add-provider-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 100%;

      .provider-card {
        background-color: white;
        padding: 10px;
        width: 950px;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            height: 100px;
            width: 100px;
          }
      }
    }
  }

  .sidebar-header {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;

    .accounts-page {
      padding-top: 20px;

      .accounts-container {
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10px;

        .user-provider {
          width: 100%;
          height: 150px;
          flex-direction: row;
          justify-content: space-around;

          footer {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }

    .accounts-view-page {
      padding-top: 20px;

      .accounts-view-container {
        padding-top: 10px;
      }
    }

    .add-provider-page {
      padding-top: 20px;

      .add-provider-container {
        padding-top: 10px;

        .provider-card {
          height: 100px;
        }
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
      position: fixed;
    }
  }
}
